@layer tokens {
    :where(:root, :host) {
  --font-sizes-base: 18px;
  --font-sizes-title: 34px;
  --font-weights-base: 500;
  --font-weights-bold: 600;
  --fonts-exo: var(--font-exo);
  --breakpoints-sm: 640px;
  --breakpoints-md: 768px;
  --breakpoints-lg: 1024px;
  --breakpoints-xl: 1280px;
  --breakpoints-2xl: 1536px;
  --sizes-breakpoint-sm: 640px;
  --sizes-breakpoint-md: 768px;
  --sizes-breakpoint-lg: 1024px;
  --sizes-breakpoint-xl: 1280px;
  --sizes-breakpoint-2xl: 1536px;
  --colors-color-palette-inverted: var(--colors-color-palette-inverted)
}

[data-color-mode=light] {
  --colors-primary: white;
  --colors-primary-inverted: black;
  --colors-secondary: #D1D5DB;
  --colors-secondary-inverted: #383838;
  --colors-tertiary: blue;
  --colors-tertiary-inverted: red
}

[data-color-mode=dark] {
  --colors-primary: black;
  --colors-primary-inverted: white;
  --colors-secondary: #383838;
  --colors-secondary-inverted: #D1D5DB;
  --colors-tertiary: red;
  --colors-tertiary-inverted: blue
}
  }
  